.bg-img-size{

    background-position: center center;
    background-size: cover;
    height: 1000px !important;
}
.bg-img-size-2{

    background-position: center bottom;
    background-size: cover;
}
.bg-img-size-3{

    width: 200px;
}
.bg-img-size4{

    background-position: center center;
    background-size: cover;
    height: 650px !important;
}